IMPORTING OUR DEPENDENCIES

In [34]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

In [6]:
from sklearn.model_selection import train_test_split
import seaborn as sns

INTIALISING OUR DATASET

In [8]:
iris_data = sns.load_dataset('iris')

In [9]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
iris_data.shape

(150, 5)

STATS RELATED TO THE DATA

In [11]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

NOW WE SPLIT THE FEATURES MATRICES FROM THE LABEL MATRICES

In [21]:
X = iris_data.drop('species', axis = 1)
Y = iris_data['species']

In [32]:
print(X)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [33]:
print(Y)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

NOW WE SPLIT THE TRAIN AND TEST DATA IN THE RATIO OF 90:10

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1)

NOW WE WILL INITIALISE OUR GAUSSIAN NAIEVE BAEYES MODEL INTO A FUNCTION

In [26]:
from sklearn.naive_bayes import GaussianNB

In [27]:
model = GaussianNB()

NOW WE WILL TRAIN THE MODEL WITH OUR TRAINING DATA

In [29]:
model.fit(X_train, Y_train)

GaussianNB()

NOW WE PREDICT USING OUT TEST DATA

In [30]:
Ypredict = model.predict(X_test)

NOW WE WILL TEST THE ACCURACY USING OUT LABEL TEST DATA

In [35]:
accuracy = accuracy_score(Ypredict, Y_test)

In [36]:
print(accuracy)

1.0

WE KNOW THAT 1 IS THE HIGHEST POSSIBLE ACHIEVABLE ACCURACY FOR A MODEL HENCE THIS IS A PERFECT MODEL UNDER THE GIVEN TEST AND TRAINIGN DATA SETS